@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
        body {
            font-family: 'Poppins';
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .quiz {
            background-color: #00B; 
            color: white;
            margin: 50px 0 0; 
            padding: 15px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
        .game {
            margin: 0;
            padding: 10px 10px;
        }
        table {
            margin: 50px 0 0;
            width: 70%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #8C73B4;
        }
        th {
            background-color: #9F8AC0;
            color: white;
        }
        tr {
            font-family: 'Poppins';
            background-color: #FBDCDC;
        }
        tr:nth-child(even) {
            background-color: #FDE9C8;
        }
        ::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }
        ::-webkit-scrollbar-track {
            background: none;
        }
        ::-webkit-scrollbar-thumb {
            background-color: rgb(61, 61, 61);
            border-radius: 12px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: rgb(46, 46, 46);
            border-radius: 12px;
        }
        ::-webkit-scrollbar-corner {
            background: none;
        }