@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  color: #000000;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
}
h1 {
  text-align: center;
  font-size: 56px;
  margin: 16px 0;
}
form {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
.form-group {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

option {
  width: 300px;
}
label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 13px;
  width: 100%;
}
input[type="submit"],
.inscription {
  background-color: #ec9593;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
input[type="submit"]:hover {
  background-color: #adbce6;
}
.switch-page {
  margin-bottom: 50px;
}
.g-recaptcha {
  margin: 20px 0;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
  border-radius: 12px;
}

::-webkit-scrollbar-corner {
  background: none;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(
      0
    ); /* Début et fin de l'animation : pas de déplacement vertical */
  }
  40% {
    transform: translateY(-30px); /* Déplacement vers le haut */
  }
  60% {
    transform: translateY(-15px); /* Rebond en bas */
  }
}
/* Style pour le titre h1 */
/* Style pour le titre h1 */
h1 {
  color: white;
  text-align: center;
  font-size: 56px;
  overflow: hidden; /* Cela assure que le texte reste dans la boîte délimitée */
  white-space: nowrap; /* Empêche le saut de ligne */
  animation: typing 8s steps(10000) forwards; /* Animation de saisie de texte */
}
h2 {
  color: white;
  animation-name: bounce; /* Nom de l'animation */
  animation-duration: 2s; /* Durée de l'animation */
  animation-iteration-count: infinite; /* Répétition infinie de l'animation */
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
